streamlit

# LangChain core
langchain
langchain-core
langchain-community
langchain-openai

# Vector DB
chromadb

# Embeddings
sentence-transformers

# Loaders & parsing
pypdf

# Utilities
python-dotenv